@model List<ContatoModel>
@{
    ViewData["Title"] = "Contatos";
}
<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Criar">Adicionar novo contato</a>
    </div>
    <br />
    <h1 class="display-5">Listagem de contatos</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Nome</td>
                        <td>@item.Email</td>
                        <td>@item.Telefone</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@item.Id"  asp-controller="Contato" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@item.Id" asp-controller="Contato" asp-action="DeletarTela">Deletar</a>
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>